DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nestjs
DB_USERNAME=dbusername
DB_PASSWORD=dbpassword
DB_SYNC=true
AUTO_LOAD=true
JWT_TOKEN_SECRET=some_secret_string_value
JWT_TOKEN_EXPIRESIN=yourport
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000